<div class="container">
    <div class="toolbar">
      <mat-toolbar color="primary">
        <mat-icon class="material-icons">flash_on</mat-icon>
        <span class="item">Grid</span>
        <span class="spacer"></span>
  
        <!-- <mat-select class="item" [(value)]="selectedCase" (selectionChange)="onDatasetChanged($event.value)">
            <mat-option *ngFor="let opt of datasetOptions" [value]="opt.value">
              {{opt.viewValue}}
            </mat-option>
        </mat-select> -->
  
      </mat-toolbar>
    </div>
    <div class="left">
      <!-- <app-bar-chart></app-bar-chart> -->
      <!-- <app-bar2-chart></app-bar2-chart> -->
      <!-- <app-bar3-chart></app-bar3-chart> -->
      <!-- <app-line-chart></app-line-chart> -->
      <app-line2-chart></app-line2-chart>
      <!-- <app-line3-chart></app-line3-chart> -->
    </div>
    <div class="right">
      
    </div>

  
</div>
  